body {
  background-color: black;
}


.box{
	background-color: #ff4da6;
	border: 0px solid #FFEBCD;
	top: 0px;
	left: 0px;
	width: 1366px;
	height: 100px;
	position: absolute;
	border-radius: 1px;
	opacity: 0.6;
}

.marquee {
	padding: 5px;

}

.main-nav {
	float: right;
	list-style: none;
	top: 0px;
	right: 50px;
	font-size: 40px;
	position: absolute;
	

}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color : white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto" "sans-serif";
	font-size: 15px;
	border-radius: 70px;
    

}

.main-nav li a:hover {
	border: 1px solid white;
	border-radius: 70px;
    padding: 10px;
}


.button{
	list-style: none;
	font-style: none;
	left: 100px; 
	top: 300px;
	font-size: 40px;
	
}

.button li {
	display: inline-block;
}

.button li a {
	color : white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto" "sans-serif";
	font-size: 30px;
	border-radius: 70px;
    padding: 10px;
    float: center;
    

 }

.button li :hover {
	border: 1px solid white;
	border-radius: 70px;
    padding: 10px;
}

.center {
	top: 150px;
	left: 300px;
	position: absolute;
}


canvas {
  width: 100%;
  height: 100%;
}