body {
  background-color: black;
}

h1 {
	float: center;
	font-size: 40px;
	font-family: "verdana" "sans- serif";
	color: white;
	text-transform: uppercase;
	top: 100px;
	left: 1500px;
	position: absolute;

}

.box{
	background-color: #ff4da6;
	border: 0px solid #FFEBCD;
	top: 40px;
	left: 0px;
	width: 1368px;
	height: 100px;
	position: relative;
	border-radius: 1px;
	opacity: 0.6;
}


.main-nav {
	float: right;
	list-style: none;
	top: 180px;
	right: 50px;
	font-size: 40px;
	position: absolute;
	

}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color : white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto" "sans-serif";
	font-size: 15px;
	border-radius: 70px;
    

}

.main-nav li a:hover {
	border: 1px solid white;
	border-radius: 70px;
    padding: 10px;
}

.artists {
	top: 280px;
	position: absolute;
}


.header{
	position: absolute;
	width: 800px;
	margin-left: 0;
	margin-top: 0;
}


h1 {
	float: left;
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	top: 5px;
	left: 30px;
	position: absolute;
}


.button{
	list-style: none;
	font-style: none;
	left: 100px; 
	top: 300px;
	font-size: 40px;
	
}

.button li {
	display: inline-block;
}

.button li a {
	color : white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto" "sans-serif";
	font-size: 30px;
	border-radius: 70px;
    padding: 10px;
    float: center;
    

 }

.button li :hover {
	border: 1px solid white;
	border-radius: 70px;
    padding: 10px;
}

.answer {
	top: 500px;
	left: 300px; 
	position: absolute;

}




canvas {
  width: 100%;
  height: 100%;
}